# .npmrc

# Specify the registry to use (npmjs.com)
registry=https://registry.npmjs.org/

# Set the token to authenticate with npmjs.com
//registry.npmjs.org/:_authToken=${NPM_TOKEN}

# Optional: Always save exact versions of dependencies without the ^ or ~ prefix
save-exact=true

provenance=true

# Optional: Set the default scope for your packages (replace @your-scope with your actual scope)
# @your-scope:registry=https://registry.npmjs.org/

# Optional: Set the log level to reduce the verbosity of npm commands
loglevel=warn

